body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.heading{
	position: relative;
	text-align: center;
	color: #ff5a8a;
}

.heading:before,.heading:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 24%;
	height: 1px;
	background: lightgray;
}

.heading:before {
	left: 0;
}

.heading:after {
	right: 0;
}

.option {
    border: 2px solid #eee;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}

.option.selected {
    border-color: #ff6b8a;
    background: #ffeaf0;
}

.discount-tag {
    display: inline-block;
    background: #ff6b8a;
    color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 6px;
}

.popular {
    position: absolute;
    top: -7px;
    right: 5px;
    background: #ff6b8a;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
}

select {
    width: 22%;
    padding: 5px;
    margin: 3px; 
	font-size: 13px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
}

.free-delivery {
	color: #ff5a8a;
	font-weight: 600;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #ff6b8a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
	
.sizes {
    display: none;
	font-size: 12px;
    margin-top: 10px;
}

.option.active {
    border: 2px solid #ff5a8a;
    background: #fff5f8;
}

.option-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
} 

.price{
	margin-top: 5px;
}

.old-price {
	font-size: 11px; 
	color:#aaa;
	margin-left:5px;
}

input[type="radio"] {
	filter: hue-rotate(120deg);
}

.item-size {
	margin-left: 25px;
	font-size: 11px;
}

.item-colour {
	margin-left: 50px;
	font-size: 11px;
}
